* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteiner {
    width: 1250px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.js {
    justify-content: space-between;
}

.links ul li {
    display: inline-block;
}

.sec-one {
    background-image: url(./img/Header\ Background.png);
    background-repeat: no-repeat;
    background-size: cover;
}