h1{
 color: hsl(235, 100%, 50%);
 text-align: center;
     
}


.one {

 color: blueviolet;
 text-align: center;

}

 .two{

 color: black;
 background-color: rgb(255, 183, 0);


}


div {

 color: green;
 text-align: end;
 

}

.three{

    
    color: chocolate;

}